.subscribe-wrap {
  max-width: 600px;
  margin: 0 auto -32px;
  position: relative;
}

.paper {
  padding: $spacing4;
  width: 100%
}
.text-field {
  top: $spacing2;
  position: relative;
}
.right-icon {
  @include margin-left($spacing1)
}