.card {
  padding: $spacing3;
  &-pricing {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: $spacing2;
  }
}
.name {
  display: flex;
  margin-top: $spacing1;
  align-items: center;
  span {
    display: inline-block;
    @include margin-left($spacing1)
  }
}

.avatar {
  width: 30px;
  height: 30px
}

.price {
  &-card {
    text-align: center;
    h2 {
      @include palette-text-primary
    }
    h6 {
      @include palette-text-secondary
    }
    ul {
      li {
        @include palette-text-secondary
      }
    }
  }
  &-header {
    display: block;
    padding: $spacing2;
    position: relative;
    @include use-theme(background-color, #EEEEEE, #424242);
    .icon {
      position: absolute;
      top: $spacing1;
      @include right($spacing1);
      @include palette-text-primary
    }
  }
}
