@use '@/assets/scss/styles' as *;

.price {
  &-card {
    text-align: center;
    @include breakpoints-down(xs) {
      max-width: 320px;
      margin: 0 auto;
    }
    h2 {
      @include palette-text-primary
    }
    h6 {
      @include palette-text-secondary
    }
    ul {
      li {
        list-style: none;
        @include palette-text-secondary
      }
    }
  }
  &-header {
    display: block;
    padding: $spacing2;
    position: relative;
    @include use-theme(background-color, #EEEEEE, #424242);
    .icon {
      position: absolute;
      top: $spacing1;
      @include right($spacing1);
      @include palette-text-primary
    }
  }
}

.card-pricing {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: $spacing2;
}