$imgAPI-starter0: 'http://via.placeholder.com/1280x640/2196F3/FFFFFF/';
$imgAPI-starter1: 'http://via.placeholder.com/1280x640/3F51B5/FFFFFF/';
$imgAPI-starter2: 'http://via.placeholder.com/1280x640/00BCD4/FFFFFF/';
$imgAPI-starter3: 'http://via.placeholder.com/1280x640/009688/FFFFFF/';
$imgAPI-starter4: 'http://via.placeholder.com/1280x640/01579B/FFFFFF/';
$imgAPI-starter5: 'http://via.placeholder.com/1280x640/0097A7/FFFFFF/';
$imgAPI-starter6: 'http://via.placeholder.com/1280x640/43A047/FFFFFF/';
$imgAPI-starter7: 'http://via.placeholder.com/1280x640/558B2F/FFFFFF/';
$imgAPI-starter8: 'http://via.placeholder.com/1280x640/1DE9B6/767676/';
$imgAPI-starter9: 'http://via.placeholder.com/1280x640/00E5FF/767676/';
$imgAPI-starter10: 'http://via.placeholder.com/1280x640/C6FF00/767676/';
